<app-home></app-home>

<div class="container">
  <h3>Usuários
    <div class="btn-group">
      <button class="btn btn-success btn-sm"
        (click)="showModal(-1, 'Cadastrar')">
        Novo
      </button>
      <button class="btn btn-danger btn-sm"
        (click)="deletarTodos()">
        Deletar todos
      </button>
    </div>
  </h3>
  <table class="table table-hover">
    <tr>
      <th>Tipo</th>
      <th>Nome</th>
      <th>Email</th>
      <th>RFID</th>
      <th>Salas Permitidas</th>
      <th>Outros</th>

    </tr>
    <tr *ngFor="let user of users; let idx = index">
      <td>{{ user.tipo }}</td>
      <td>{{ user.nome }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.rfid }}</td>
      <td>{{ user.direito_acesso | acessos }}</td>
      <td>
        <button type="submit" class="btn btn-primary" (click)="showModal(idx)">Editar</button>
        <button type="submit" class="btn btn-danger" (click)="apagarUsuario(idx)">Deletar</button>
      </td>
    </tr>
  </table>
</div>
