<div class="container text-center">
    <form class="form-horizontal" >
        <div class="text-center">
            <h3>Controle de Portas</h3>
            <hr style="width: 80%;">
        </div>
        <div class="login-menu">
            <input type="text" name="email" class="form-control" id="email"
                placeholder="e-mail" required autofocus>
        </div>
        <div class="login-menu">
            <input type="password" name="password" class="form-control" id="password"
            placeholder="senha" required>
        </div>
        <div class="">
            <!-- Arumar - colocar o caminho para a home dentro do botao -->
            <button type="submit" class="btn btn-success">Login</button>
            
        </div>
    </form>
</div>