<div class="container text-center">
    <form class="form-horizontal" #fLogin = "ngForm" >
        <div class="text-center">
            <h3>Controle de Portas</h3>
            <hr style="width: 80%;">
        </div>
        <div class="login-menu form-group">
            <input type="email" name="email" class="form-control" id="email"
                placeholder="e-mail" ngModel required email autofocus>
        </div>
        <div class="login-menu form-group">
            <input type="password" name="password" class="form-control" id="password"
            placeholder="senha" ngModel required>
        </div>
        <div class="">
            <!-- Arumar - colocar o caminho para a home dentro do botao routerLink="/abre-home" -->
            <button type="submit" name="login" class="btn btn-success" routerLink="/home"  [disabled]="!fLogin.valid">Login</button>
            
        </div>
    </form>
</div>

