<div class="container">
  <form #fLogin="ngForm" (ngSubmit)="onSubmit(fLogin)">
    <div class="row">
      <div class="col-md-offset-4 col-md-7">
        <div *ngIf="bool" class="alert alert-danger">
          <p><strong>Login inválido!</strong></p>
          <p>Verifique sua senha/login e tente novamente.</p>
        </div>
        <div class="form-login">
          <h4>Controle de Portas - UTFPR</h4>
          <input type="text" name="login" class="form-control input chat-input"
            placeholder="Login" ngModel required/>
          <br>
          <input type="password" name="password" class="form-control input chat-input"
            placeholder="Senha" ngModel required/>
          <br>
          <div class="wrapper">    
            <button class="btn btn-success" [disabled]="!fLogin.valid">Login</button>
          </div>
        </div>
      </div>
    </div>
  </form>  
</div>
