.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}

.form-cadastro{
    border: 1px solid #ccc;
    padding: 10px;
    
}

.form-cadastro > div > p {
    width: 100px;
}

.form-user-sala{
    margin-top: -75px;
    margin-left: 177px;
}

.form-buttom{
    margin-top: 15px;
}
