<div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" (click)="close()" >&times;</button>
         <h4 class="modal-title">{{ title }}</h4>
       </div>
       <div class="modal-body">
         <form #fUser="ngForm">
          <div class="form-group">
            <label>ID</label>
            <input class="form-control" name="id" type="text" [value]="user.id" readonly ngModel required> 
          </div>
          <div class="form-group">
            <label>Nome</label>
            <input class="form-control" name="nome" type="text" [value]="user.nome" ngModel required>
          </div>
          <div class="form-group">            
            <label>Tipo</label>
            <select class="form-control">
              <option *ngFor="let type of typeUsers" [value]="type">{{ type }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Acessos</label>
            <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
              [settings]="dropdownSettings">
            </angular2-multiselect>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" name="email" type="email" value="{{ user.email }}" ngModel required email>
          </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-success" (click)="confirm()" [disabled]="!fUser.valid">Editar</button>
         <button type="button" class="btn btn-danger" (click)="close()" >Cancelar</button>
       </div>
     </div>
  </div>
