  <div id="menu">  
    <ul ng-app="home-menu">
        <li><a routerLink="/home">Home</a></li>
        <li ng-controller="mostraAba">
          <a (click)="onClick(aba)">Cadastro</a> 
        </li>
        <li><a routerLink="/list-sala">Salas</a></li>
        <li><a routerLink="/list-user">Usuários</a></li>
        <!--colocar o link para o login quando clicar aqui-->
        <li><a routerLink="/" class="sair">Sair</a></li>
      </ul>            
      
    <div id="aba" ng-click="aba" ng-hide="escondeAba" #aba style="display: none;">
      <ul id="cad-menu">
        <li><a class="cad-user" routerLink="/cadastro-usuario">Usuário</a></li>
        <li><a class="cad-sala" routerLink="/cadastro-sala">Sala</a></li>
      </ul>
      
    </div>
      
    
  </div>