<app-home></app-home>

<div class="container">
  <h3>Administradores
    <div class="btn-group">
      <button class="btn btn-success btn-sm"
        (click)="showModal(-1, 'Cadastrar')">
        Novo <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-danger btn-sm"
        (click)="deletarTodos()">
        Deletar todos <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>
  </h3>
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th>Outros</th>
    </tr>
    <tr *ngFor="let adm of admins; let idx = index">
      <td>{{ adm.nome }}</td>
      <td>{{ adm.login }}</td>
      <td>
        <button type="submit" class="btn btn-primary" (click)="showModal(idx)"
          tooltip="Editar administrador">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="submit" class="btn btn-danger" (click)="apagarAdmin(idx)"
        tooltip="Deletar administrador">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
  </table>
</div>
